* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: #2c1810;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 0;
  text-align: center;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4a261;
}

.hero {
  background: linear-gradient(rgba(44, 24, 16, 0.7), rgba(44, 24, 16, 0.7)),
    url("./Img/cafe2.jpg") center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 60px;
  flex-direction: column;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.btn {
  background: #f4a261;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #e76f51;
}

.sobre {
  padding: 4rem 0;
  text-align: center;
  background-color: #f9f9f9;
}

.sobre h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sobre p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
}

.menu {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
}

.menu h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #2c1810;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.produto-card {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.produto-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.produto-icon {
  font-size: 3rem;
  color: #e76f51;
  margin-bottom: 1rem;
}

.produto-preco {
  font-weight: bold;
  font-size: 1.5rem;
  color: burlywood;
  margin: 1rem 0;
}

.localizacao {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.localizacao h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.localizacao p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  color: #555;
}

.mapa {
  margin: 0 auto;
  max-width: 1000px;

}

.mapa iframe {
  display: block;
  border-radius: 10px;
}

footer {
  background: #2c1810;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}